body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  /* Other styles */
  
  input[type="text"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    font-size: 16px; /* Set the desired font size */
  }
  
  
  button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 4px;
  }
  
  li span {
    flex-grow: 1;
  }
  
  li button {
    margin-left: 10px;
    background-color: #f44336;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  li button:hover {
    background-color: #d32f2f;
  }
  